<?xml version='1.0' encoding='utf-8'?>
<widget id="com.vtayur.Suktas" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Suktas</name>
    <description>Purusha Suktas, Narayana Suktas, Sri Suktas, Durga Suktas</description>
    <author email="varuntayur@gmail.com" href="varuntayur.wordpress.com">vtayur</author>
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <content src="index.html" />
    <access origin="*" />
    <icon src="res/icon.png" />
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <plugin name="cordova-plugin-media" spec="^5.0.2" />
</widget>
